import init.bluetooth.rc

on post-fs-data
    chown system system /sys/devices/virtual/timed_output/vibrator/enable_vibrator
    chmod 0660 /sys/devices/virtual/timed_output/vibrator/enable_vibrator

    #LED Fix
    chown system system /sys/class/leds/lm3533-light-backlight/brightness
    chmod 0660 /sys/class/leds/lm3533-light-backlight/brightness
    chown system system /sys/class/leds/lm3533-light-backlight/charger_brightness
    chmod 0660 /sys/class/leds/lm3533-light-backlight/charger_brightness
    chown system system /sys/class/leds/lm3533-light-sns/brightness
    chmod 0660 /sys/class/leds/lm3533-light-sns/brightness
    chown system system /sys/class/leds/lm3533-light-sns/rgb_brightness
    chmod 0660 /sys/class/leds/lm3533-light-sns/rgb_brightness
    chown system system /sys/class/leds/lm3533-light-button/brightness
    chmod 0660 /sys/class/leds/lm3533-light-button/brightness

#Compass Fix
    # Magnetic device
    chown system system /sys/class/compass/magnetic/enable_acc
    chown system system /sys/class/compass/magnetic/enable_mag
    chown system system /sys/class/compass/magnetic/enable_ori
    chown system system /sys/class/compass/magnetic/delay_acc
    chown system system /sys/class/compass/magnetic/delay_mag
    chown system system /sys/class/compass/magnetic/delay_ori
    chown system system /sys/class/compass/magnetic/accel
    chown system system /sys/class/compass/magnetic/get_device_infor 

    insmod /system/lib/modules/cfg80211.ko
    insmod /system/lib/modules/compat.ko
    insmod /system/lib/modules/bluetooth.ko
    insmod /system/lib/modules/bluetooth-power.ko
    insmod /system/lib/modules/hci_uart.ko
    insmod /system/lib/modules/bnep.ko
    insmod /system/lib/modules/hidp.ko
    insmod /system/lib/modules/rfcomm.ko

on early-charger
    wait /dev/block/mmcblk0p2
    start tad
    exec /sbin/wait4tad
    start rmt_storage
    start ta_rmt_service

    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0FCE
    write /sys/class/android_usb/android0/idProduct E188
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1

on charger
    start charger

service charger /charger
    class charger

# SEMC, TA Daemon
service tad /sbin/tad /dev/block/mmcblk0p2 0,16,256
    class trimarea
    user root
    group root
    socket tad stream 0660 system system

service dhcpcd_bnep /system/bin/dhcpcd -BKLG
    class late_start
    disabled
    oneshot

# Magnetic service
service akmd /system/bin/magnetic -m 2
    class main
    user compass
    group system

# import cne init file
on post-fs
    export_rc /persist/init.cne.rc
    start qcom-post-fs

# msm specific files that need to be created on /data
on post-fs-data
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media

# Export GPIO56 for fusion targets to enable/disable hub
service usbhub_init /system/bin/usbhub_init
   class late_start
   user root
   disabled
   oneshot

on property:init.svc.surfaceflinger=stopped
    stop ppd
    stop hdmid

service qcom-c_core-sh /system/bin/sh /init.qcom.class_core.sh
    class core
    user root
    oneshot

service qcom-c_main-sh /system/bin/sh /init.qcom.class_main.sh
    class main
    user root
    oneshot

on property:vold.decrypt=trigger_restart_framework
    start qcom-c_main-sh

on property:ro.boot.emmc=true
    start rmt_storage
    # SEMC NV customizer
    # exec /system/bin/nvcustomizer

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    class late_start
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin
    disabled
    oneshot

service qmiproxy /system/bin/qmiproxy
    class main
    user radio
    group radio qcom_diag
    disabled

# QMUX must be in multiple groups to support external process connections
service qmuxd /system/bin/qmuxd
    class main
    user radio
    group radio audio bluetooth gps qcom_diag
    disabled

on property:crypto.driver.load=1
     insmod /system/lib/modules/qce.ko
     insmod /system/lib/modules/qcedev.ko

on property:crypto.driver.load=0
     exec /system/bin/rmmod qcedev.ko
     exec /system/bin/rmmod qce.ko

service qcom-post-fs /system/bin/sh /system/etc/init.qcom.post_fs.sh
    class core
    user root
    disabled
    oneshot

service qcom-sh /system/bin/sh /init.qcom.sh
    class late_start
    user root
    oneshot

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    class late_start
    user root
    disabled
    oneshot

on property:sys.boot_completed=1
    start qcom-post-boot

service atfwd /system/bin/ATFWD-daemon
    class late_start
    user system
    group system radio

service ppd /system/bin/mm-pp-daemon
    class late_start
    user system
    socket pps stream 0660 system system graphics
    group system graphics

service hostapd /system/bin/hostapd -dddd /data/hostapd/hostapd.conf
    class late_start
    user root
    group root
    oneshot
    disabled

on property:persist.data.ds_fmc_app.mode=1
    start ds_fmc_appd

on property:ro.data.large_tcp_window_size=true
    # Adjust socket buffer to enlarge TCP receive window for high bandwidth (e.g. DO-RevB)
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1

service ril-daemon1 /system/bin/rild -c 1
    class main
    socket rild1 stream 660 root radio
    socket rild-debug1 stream 660 radio system
    user root
    disabled
    group radio cache inet misc audio sdcard_rw qcom_oncrpc diag

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

#/*Tamsui3-CONN-EH-MTP_PCCOMPANION-00+{*/
service SEMC-sh /system/bin/sh /init.usbmode.sh
    class core
    user root
    disabled
    oneshot

on property:sys.usb.config=*
    start SEMC-sh

on property:persist.usb.eng=*
    start SEMC-sh
#/*Tamsui3-CONN-EH-MTP_PCCOMPANION-00+}*/		

